__pycache__

# cursor
.cursor

# Distrobox home directory
/.distrobox*

/.cache

# ROS 2 build and runtime artifacts
/build
/install
/log
/build_ws
/build_*
/install_*
/log_*
/frames_*.gv
/frames_*.pdf
/robot_localization_debug.txt

# Ignore everything in src except README.md
/src/*
!/src/README.md
